:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --secondary-text-color: #4D5AE5;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul,ol {
    margin: 0;
    padding-left: 0;
}


.body {
    background-color: #FFFFFF;
    color: var(--title-text-color);

    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

    /* logo */

.logo-web {
    color: var(--secondary-text-color);
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.75;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-studio {
    color: var(--primary-text-color);
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.75;
    text-transform: uppercase;
    text-decoration: none;
}

.whlogo-studio {
    color: #F4F4FD;
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.85;
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo {
    margin-right: 76px;
}

/* site nav */

.site-nav, .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-decoration: none;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.link:hover,
.link:focus {
    color: var(--secondary-text-color);
}

.nav-list {
    display: flex;
    gap: 40px;
}

.header > .container {
    display: flex;
    align-items: center;
}

/* auth nav */
.auth {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 0.6;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.auth-mail {
    margin-right: 40px;
}

/* section */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 72px;
}

.section {
    color: var(--primary-text-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

/* hero */

.hero {
    background-color: var(--primary-text-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
     rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)
     ), 
     url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.hero-button {
    min-width: 169px;
    height: 56px;
    color: #FFFFFF;
    background-color: var(--secondary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    margin-top: 48px;
    border-radius: 4px;
    border: none;
}

.hero-button:hover {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* features */

.features {
    padding-top: 120px;
}

.features, .title {
    color: var(--primary-text-color);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.title-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    font-weight: 400;
}

.advantages {
    display: flex;
    gap: 24px;
    align-items: center;
}

.features-item {
    width: 264px;
}

.features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
}

/* projects */

.projects {
    display: flex;
    gap: 24px;
}

/* our team */

.section-bgc {
    background-color: #F4F4FD;
}

.team {
    display: flex;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
}

.team-text {
    padding-top: 32px;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
    margin-bottom: 8px;
}

.name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.job-title {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404BBF;
}

/* customers */

.customers {
    padding-bottom: 120px;
    padding-top: 130px;
}

.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 16px) / 2);
}

.customers-img {
    width: 100%;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #8e8f99;
}

.customers-img:hover {
    border-color: #404BBF;
}

.customers-img:hover .customers-svg {
    fill: #404BBF;
}

/* footer */

.footer {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-title {
    color: #E7E9FC;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
}

.footer-soc {
    margin-left: 120px;
}

.footer-soc-title {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-list {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.footer> .container {
    display: flex;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.nav-button {
    background-color: #F4F4FD;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: inherit;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
}

.nav-button:hover,
.nav-button:focus {
    background-color: var(--secondary-text-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px
     rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cashless-payment {
    background-color: var(--secondary-text-color);
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.illustration-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.illustration-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-ill {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
} 

.ill-item {
    width: calc((100% - 48px) / 3);
}

.ill-item:hover {
    border: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ill-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}